node-red/flows.json
[{"id":"7bd9273e.d66c58","type":"tab","label":"Secure House","disabled":false,"info":""},{"id":"2262bac4.80fc86","type":"tab","label":"Hue Remote","disabled":false,"info":""},{"id":"72891f2a.4e292","type":"subflow","name":"Close Garage Doors","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"7a72fec7.f54fe"},{"id":"e991ac67.bd98c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ebca2dd1.3553a","type":"subflow","name":"iRobot Prompt","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"15398f75.327181"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6954ffe6.b584c","type":"server","name":"Home Assistant","addon":true},{"id":"58a14a8e.257e84","type":"mqtt-broker","name":"Mosquitto","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b4cb3ed.0f4cbc","type":"server-events","z":"7bd9273e.d66c58","name":"fili_security event","server":"6954ffe6.b584c","event_type":"fili_security","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":120,"y":380,"wires":[["9639d260.44a31"]]},{"id":"9639d260.44a31","type":"switch","z":"7bd9273e.d66c58","name":"What I'm Doing","property":"payload.event.task","propertyType":"msg","rules":[{"t":"eq","v":"ready_for_bed","vt":"str"},{"t":"eq","v":"bedtime","vt":"str"},{"t":"eq","v":"leave_home","vt":"str"},{"t":"eq","v":"wake_up","vt":"str"},{"t":"eq","v":"arrive_home","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":380,"wires":[["40d59f5a.6512d"],["b5158946.0dd4c8","9627a949.319198"],["b5158946.0dd4c8"],["d17694d9.867b48"],["d17694d9.867b48"]]},{"id":"7a72fec7.f54fe","type":"api-current-state","z":"72891f2a.4e292","name":"Is left garage door open","server":"6954ffe6.b584c","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.left_garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":60,"wires":[["a030aa94.31bc38"],[]]},{"id":"a030aa94.31bc38","type":"api-call-service","z":"72891f2a.4e292","name":"Close left garage door","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.left_garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":40,"wires":[[]]},{"id":"e991ac67.bd98c","type":"api-current-state","z":"72891f2a.4e292","name":"Is right garage door open","server":"6954ffe6.b584c","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.right_garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":140,"wires":[["f5a03378.0c829"],[]]},{"id":"f5a03378.0c829","type":"api-call-service","z":"72891f2a.4e292","name":"Close right garage door","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.right_garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":120,"wires":[[]]},{"id":"2e6d76fa.ca98fa","type":"subflow:72891f2a.4e292","z":"7bd9273e.d66c58","name":"","x":960,"y":280,"wires":[]},{"id":"b5158946.0dd4c8","type":"api-call-service","z":"7bd9273e.d66c58","name":"Set alarm to away","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.abode_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":380,"wires":[["2e6d76fa.ca98fa","65fc531a.45241c","542a279e.cd30b8","8948ac47.f74fc"]]},{"id":"da07ef72.66701","type":"mqtt in","z":"2262bac4.80fc86","name":"","topic":"zigbee2mqtt/Remote/action","qos":"2","datatype":"utf8","broker":"58a14a8e.257e84","x":170,"y":280,"wires":[["9e7302f5.911ac"]]},{"id":"9e7302f5.911ac","type":"switch","z":"2262bac4.80fc86","name":"Remote actions","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(on-press|on-hold-release)","vt":"str","case":false},{"t":"regex","v":"(up-press|up-hold)","vt":"str","case":false},{"t":"regex","v":"(down-press|down-hold)","vt":"str","case":false},{"t":"regex","v":"(off-press|off-hold-release)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":500,"y":280,"wires":[["ea5775a9.653028"],["c76e7cf5.da5ee"],["95a0d9c9.601718"],["6f68072f.169a88"]]},{"id":"ea5775a9.653028","type":"api-call-service","z":"2262bac4.80fc86","name":"Turn on","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":180,"wires":[[]]},{"id":"6f68072f.169a88","type":"api-call-service","z":"2262bac4.80fc86","name":"Turn off","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cabinet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":380,"wires":[[]]},{"id":"c76e7cf5.da5ee","type":"api-call-service","z":"2262bac4.80fc86","name":"Increase","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"{ \"brightness_step_pct\": 10 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":240,"wires":[[]]},{"id":"95a0d9c9.601718","type":"api-call-service","z":"2262bac4.80fc86","name":"Decrease","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"{ \"brightness_step_pct\": -10 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":320,"wires":[[]]},{"id":"78c827c0.a3b928","type":"server-events","z":"ebca2dd1.3553a","name":"ios Action","server":"6954ffe6.b584c","event_type":"ios.notification_action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":340,"wires":[["5d7268ab.c17248"]]},{"id":"5d7268ab.c17248","type":"switch","z":"ebca2dd1.3553a","name":"iRobot Command","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"VACUUM_AND_MOP","vt":"str"},{"t":"eq","v":"VACUUM","vt":"str"},{"t":"eq","v":"VACUUM_GREAT_ROOM","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":460,"wires":[["66a0c76e.9814a8"],["324aa565.ba365a"],["9899edf1.51fc9"]]},{"id":"15398f75.327181","type":"api-call-service","z":"ebca2dd1.3553a","name":"Prompt","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{\"title\":\"Alarm Armed\",\"message\":\"What do you want to clean?\",\"data\":{\"push\":{\"category\":\"vacuum\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":60,"wires":[[]]},{"id":"95791e86.6f4e6","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":160,"wires":[["1d1b2c6.12169d4"]]},{"id":"dcfb88a8.58b7c8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum Great Room","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"send_command","entityId":"vacuum.greatroomroomba","data":"{\"command\":\"start\",\"params\":{\"pmap_id\":\"NW0eUDwfSAmv9dqz0ttnjQ\",\"user_pmapv_id\":\"201210T200858\",\"regions\":[{\"region_id\":\"9\",\"type\":\"rid\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":680,"wires":[["7ab99a8e.396eb4"]]},{"id":"6c2a1e1b.00959","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":540,"wires":[["7ab99a8e.396eb4"]]},{"id":"55beadbf.5f9164","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till vacuum is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.greatroomroomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"4","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":930,"y":600,"wires":[["a5c60175.97cba"],["aac1bb26.b1fb08"]]},{"id":"b239385e.cc1ef8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Mop","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.braava_jet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":260,"wires":[["4ca48a5f.745fe4"]]},{"id":"a5c60175.97cba","type":"api-call-service","z":"ebca2dd1.3553a","name":"Complete Message","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{ \"message\": \"Cleaning Job Complete\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":300,"wires":[["c67c5974.ce61c8"]]},{"id":"c2a9ba6b.1a70b8","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till vacuum is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.greatroomroomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"4","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":830,"y":160,"wires":[["b239385e.cc1ef8"],["aac1bb26.b1fb08"]]},{"id":"7721f5a4.c6d16c","type":"api-call-service","z":"ebca2dd1.3553a","name":"Error Message","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{ \"message\": \"Cleaning Job Failed\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":540,"wires":[["f6e3200c.a8995"]]},{"id":"aac1bb26.b1fb08","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum return home","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":620,"wires":[["7721f5a4.c6d16c"]]},{"id":"dc5175ff.0fbe18","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till mop is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.braava_jet","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1280,"y":260,"wires":[["a5c60175.97cba"],["bba00f31.d2b09"]]},{"id":"bba00f31.d2b09","type":"api-call-service","z":"ebca2dd1.3553a","name":"Mop return home","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.braava_jet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":360,"wires":[["7721f5a4.c6d16c"]]},{"id":"65fc531a.45241c","type":"subflow:ebca2dd1.3553a","z":"7bd9273e.d66c58","name":"","x":940,"y":340,"wires":[]},{"id":"40d59f5a.6512d","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn on bedroom lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.jamis_bedside_lamp, switch.toms_bedside_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":160,"wires":[[]]},{"id":"9627a949.319198","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn off bedroom lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.jamis_bedside_lamp, switch.toms_bedside_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":260,"wires":[[]]},{"id":"542a279e.cd30b8","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn off TV","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_tv_remote","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":460,"wires":[[]]},{"id":"8948ac47.f74fc","type":"api-call-service","z":"7bd9273e.d66c58","name":"Lock Mudroom","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.mud_room_lock","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":400,"wires":[[]]},{"id":"66a0c76e.9814a8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":260,"wires":[["95791e86.6f4e6"]]},{"id":"9899edf1.51fc9","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":240,"y":680,"wires":[["dcfb88a8.58b7c8"]]},{"id":"324aa565.ba365a","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":460,"wires":[["6c2a1e1b.00959"]]},{"id":"c67c5974.ce61c8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn off lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cabinet, light.kitchen_dimmer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":460,"wires":[[]]},{"id":"7ab99a8e.396eb4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":600,"wires":[["55beadbf.5f9164"]]},{"id":"1d1b2c6.12169d4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["c2a9ba6b.1a70b8"]]},{"id":"4ca48a5f.745fe4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":260,"wires":[["dc5175ff.0fbe18"]]},{"id":"f6e3200c.a8995","type":"delay","z":"ebca2dd1.3553a","name":"Wait 10 minutes","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":540,"wires":[["c67c5974.ce61c8"]]},{"id":"d17694d9.867b48","type":"api-call-service","z":"7bd9273e.d66c58","name":"Set alarm to standby","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.abode_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":520,"wires":[["e918ea11.7788c8"]]},{"id":"e918ea11.7788c8","type":"api-call-service","z":"7bd9273e.d66c58","name":"Unlock Mudroom","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.mud_room_lock","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":520,"wires":[[]]},{"id":"7c227fd9.abce7","type":"ha-zone","z":"7bd9273e.d66c58","server":"6954ffe6.b584c","name":"Auto Home","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.tom_fili","person.jami_fili"],"event":"enter","zones":["zone.home"],"x":360,"y":520,"wires":[["d17694d9.867b48"]]}]