node-red/flows.json
[{"id":"7bd9273e.d66c58","type":"tab","label":"Security","disabled":false,"info":""},{"id":"a3073265.18cb2","type":"tab","label":"Doorbell Ring","disabled":false,"info":""},{"id":"50054c0f78748ee4","type":"tab","label":"Office","disabled":false,"info":"","env":[]},{"id":"697063ce.0b394c","type":"subflow","name":"Vacuum","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"66a0c76e.9814a8"}]}],"out":[{"x":1380,"y":40,"wires":[{"id":"c2a9ba6b.1a70b8","port":0}]},{"x":1440,"y":360,"wires":[{"id":"131b3cae.48f863","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f8cf226d.22997","type":"subflow","name":"Mop","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"591d81fc.f6d56"}]}],"out":[{"x":1160,"y":60,"wires":[{"id":"dc5175ff.0fbe18","port":0}]},{"x":1380,"y":300,"wires":[{"id":"bba00f31.d2b09","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5150d5945d6f626d","type":"subflow","name":"During workday?","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"7959b4b23bb1903c"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"9c07d1f7f57c825a","port":0}]},{"x":580,"y":180,"wires":[{"id":"9c07d1f7f57c825a","port":1},{"id":"7959b4b23bb1903c","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"aa6b6d371fc6fa25","type":"junction","z":"7bd9273e.d66c58","x":260,"y":380,"wires":[[]]},{"id":"6954ffe6.b584c","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"fd5f08df.bdadb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c2a9ba6b.1a70b8","type":"ha-wait-until","z":"697063ce.0b394c","name":"Wait till vacuum is done","server":"6954ffe6.b584c","version":2,"outputs":2,"entityId":"vacuum.greatroom_roomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"4","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"}],"x":1010,"y":80,"wires":[[],["131b3cae.48f863"]]},{"id":"66a0c76e.9814a8","type":"api-call-service","z":"697063ce.0b394c","name":"Turn on lights","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.cabinet","light.kitchen_dimmer"],"data":"{ \"brightness_pct\": 50 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":180,"y":40,"wires":[["9de72cf8.c370e"]]},{"id":"ece4f7a6.692888","type":"ha-wait-until","z":"697063ce.0b394c","name":"Wait till vacuum started","server":"6954ffe6.b584c","version":2,"outputs":2,"entityId":"vacuum.greatroom_roomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"cleaning","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":710,"y":160,"wires":[["c2a9ba6b.1a70b8"],["131b3cae.48f863"]]},{"id":"4ffb921f.584bdc","type":"api-call-service","z":"697063ce.0b394c","name":"Vacuum","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"vacuum","service":"start","areaId":[],"deviceId":[],"entityId":["vacuum.greatroom_roomba"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":160,"wires":[["ece4f7a6.692888"]]},{"id":"131b3cae.48f863","type":"api-call-service","z":"697063ce.0b394c","name":"Vacuum return home","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"vacuum","service":"return_to_base","areaId":[],"deviceId":[],"entityId":["vacuum.greatroom_roomba"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"}],"queue":"none","x":1260,"y":360,"wires":[[]]},{"id":"de47df09.8634e","type":"api-call-service","z":"697063ce.0b394c","name":"Dock","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"vacuum","service":"return_to_base","areaId":[],"deviceId":[],"entityId":["vacuum.greatroom_roomba"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":300,"wires":[["6b1d28a2.facf28"]]},{"id":"6b1d28a2.facf28","type":"ha-wait-until","z":"697063ce.0b394c","name":"Wait till vacuum ready","server":"6954ffe6.b584c","version":2,"outputs":2,"entityId":"vacuum.greatroom_roomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":780,"y":300,"wires":[["4ffb921f.584bdc"],["131b3cae.48f863"]]},{"id":"9de72cf8.c370e","type":"api-current-state","z":"697063ce.0b394c","name":"Vacuum State","server":"6954ffe6.b584c","version":3,"outputs":1,"halt_if":"","halt_if_type":"jsonata","halt_if_compare":"is","entity_id":"vacuum.greatroom_roomba","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":40,"wires":[["c9a35899.98f878"]]},{"id":"c9a35899.98f878","type":"switch","z":"697063ce.0b394c","name":"Is Ready","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"},{"t":"neq","v":"docked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":220,"wires":[["4ffb921f.584bdc"],["b112a592.6fca98"]]},{"id":"b112a592.6fca98","type":"api-call-service","z":"697063ce.0b394c","name":"Stop","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"vacuum","service":"stop","areaId":[],"deviceId":[],"entityId":["vacuum.greatroom_roomba"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":300,"wires":[["35445546.566c7a"]]},{"id":"35445546.566c7a","type":"delay","z":"697063ce.0b394c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":440,"y":300,"wires":[["de47df09.8634e"]]},{"id":"b239385e.cc1ef8","type":"api-call-service","z":"f8cf226d.22997","name":"Mop","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mop_action","entityId":"","data":"{\"command\": \"start\"}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"rest_command","mergecontext":"","x":390,"y":160,"wires":[["6d5643b1.6284ec"]]},{"id":"dc5175ff.0fbe18","type":"ha-wait-until","z":"f8cf226d.22997","name":"Wait till mop is done","server":"6954ffe6.b584c","version":2,"outputs":2,"entityId":"sensor.mop","entityIdFilterType":"exact","property":"state","comparator":"is","value":"Ready","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"}],"x":960,"y":80,"wires":[[],["bba00f31.d2b09"]]},{"id":"bba00f31.d2b09","type":"api-call-service","z":"f8cf226d.22997","name":"Mop return home","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"rest_command","service":"mop_action","areaId":[],"deviceId":[],"entityId":[],"data":"{\"command\": \"dock\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"}],"queue":"none","x":1210,"y":300,"wires":[[]]},{"id":"6d5643b1.6284ec","type":"ha-wait-until","z":"f8cf226d.22997","name":"Wait till mop started","server":"6954ffe6.b584c","version":0,"outputs":2,"entityId":"sensor.mop","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"Ready","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"entityLocation":"","entityLocationType":"none","x":710,"y":160,"wires":[["dc5175ff.0fbe18"],["bba00f31.d2b09"]]},{"id":"b537487a.571488","type":"api-call-service","z":"f8cf226d.22997","name":"Dock","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mop_action","entityId":"","data":"{\"command\": \"dock\"}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"rest_command","mergecontext":"","x":570,"y":280,"wires":[["69d62b36.d264c4"]]},{"id":"69d62b36.d264c4","type":"ha-wait-until","z":"f8cf226d.22997","name":"Wait till mop ready","server":"6954ffe6.b584c","version":2,"outputs":2,"entityId":"sensor.mop","entityIdFilterType":"exact","property":"state","comparator":"is","value":"Ready","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":750,"y":280,"wires":[["b239385e.cc1ef8"],["bba00f31.d2b09"]]},{"id":"591d81fc.f6d56","type":"api-call-service","z":"f8cf226d.22997","name":"Turn on lights","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":220,"y":40,"wires":[["743759df.792d98"]]},{"id":"743759df.792d98","type":"api-current-state","z":"f8cf226d.22997","name":"Mop State","server":"6954ffe6.b584c","version":3,"outputs":1,"halt_if":"","halt_if_type":"jsonata","halt_if_compare":"is","entity_id":"sensor.mop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":420,"y":40,"wires":[["38fa842c.679a7c"]]},{"id":"38fa842c.679a7c","type":"switch","z":"f8cf226d.22997","name":"Is Ready","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ready","vt":"str"},{"t":"neq","v":"Ready","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":220,"wires":[["b239385e.cc1ef8"],["43546c35.52f4f4"]]},{"id":"43546c35.52f4f4","type":"api-call-service","z":"f8cf226d.22997","name":"Stop","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mop_action","entityId":"","data":"{\"command\": \"stop\"}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"rest_command","mergecontext":"","x":270,"y":280,"wires":[["4718a3b8.11902c"]]},{"id":"4718a3b8.11902c","type":"delay","z":"f8cf226d.22997","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":280,"wires":[["b537487a.571488"]]},{"id":"9c07d1f7f57c825a","type":"time-range-switch","z":"5150d5945d6f626d","name":"Only work hours","lat":"","lon":"","startTime":"07:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":380,"y":100,"wires":[[],[]]},{"id":"7959b4b23bb1903c","type":"weekday","z":"5150d5945d6f626d","name":"Weekdays","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":200,"y":160,"wires":[["9c07d1f7f57c825a"],[]]},{"id":"c853a428d6b22459","type":"server-events","z":"7bd9273e.d66c58","name":"Notification Action","server":"6954ffe6.b584c","version":2,"eventType":"mobile_app_notification_action","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":130,"y":120,"wires":[["511fb2c6efdd13f5"]]},{"id":"511fb2c6efdd13f5","type":"switch","z":"7bd9273e.d66c58","name":"iRobot Command","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"VACUUM_AND_MOP","vt":"str"},{"t":"eq","v":"VACUUM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":240,"wires":[["4fba1ba0348b0dc2"],["50dd3cf3caba6f4f"]]},{"id":"384887683fe41601","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn off lights","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"turn_off","entityId":"light.cabinet, light.kitchen_dimmer","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":1000,"y":280,"wires":[[]]},{"id":"3628506cb43365d9","type":"delay","z":"7bd9273e.d66c58","name":"Wait 10 minutes","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":680,"y":280,"wires":[["384887683fe41601"]]},{"id":"4fba1ba0348b0dc2","type":"subflow:697063ce.0b394c","z":"7bd9273e.d66c58","name":"","env":[],"x":440,"y":100,"wires":[["2a577e7722ce9a8a"],["3628506cb43365d9"]]},{"id":"50dd3cf3caba6f4f","type":"subflow:697063ce.0b394c","z":"7bd9273e.d66c58","x":440,"y":240,"wires":[["384887683fe41601"],["3628506cb43365d9"]]},{"id":"2a577e7722ce9a8a","type":"subflow:f8cf226d.22997","z":"7bd9273e.d66c58","name":"","x":630,"y":60,"wires":[["384887683fe41601"],["3628506cb43365d9"]]},{"id":"79674ef0.cfdc5","type":"server-events","z":"a3073265.18cb2","name":"Nest Event","server":"6954ffe6.b584c","version":2,"eventType":"nest_event","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":120,"y":100,"wires":[["72a84563.c2fe6c"]]},{"id":"e948afde.d49af","type":"api-call-service","z":"a3073265.18cb2","name":"Alexa notify","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Someone is at the front door\",\"data\":{\"type\":\"tts\"},\"target\":[\"media_player.kitchen_alexa\",\"media_player.basement_alexa\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":200,"wires":[[]]},{"id":"97824373.fa92f","type":"api-call-service","z":"a3073265.18cb2","name":"Google Notify","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.office_display"],"data":"{\"message\":\"Someone is at the front door\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":300,"wires":[[]]},{"id":"953f4576.faa588","type":"ha-get-entities","z":"a3073265.18cb2","name":"Get States","server":"6954ffe6.b584c","version":0,"rules":[{"property":"entity_id","logic":"is","value":"light.cabinet","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":410,"y":620,"wires":[["d669a5a2.70ebf8"]]},{"id":"915c3c9d.448b","type":"api-call-service","z":"a3073265.18cb2","name":"Restore State","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.cabinet"],"data":"{\t   \"brightness\": payload.attributes.brightness,\t   \"hs_color\": payload.attributes.hs_color\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":460,"wires":[["49937176.e2aec"]]},{"id":"bbe8e8b2.3c7a58","type":"api-call-service","z":"a3073265.18cb2","name":"Flash Lights","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.cabinet","data":"{\"brightness\":255,\"transition\":0,\"hs_color\":[360,100],\"flash\":\"short\"}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":650,"y":460,"wires":[["49e20613f9ba29f3"]]},{"id":"72a84563.c2fe6c","type":"switch","z":"a3073265.18cb2","name":"Filter Doorbell","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"9d8105f724dc536601acaa2daf3cef79","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":100,"wires":[["7163de00.5c2b44"]]},{"id":"7163de00.5c2b44","type":"switch","z":"a3073265.18cb2","name":"Filter Event Type","property":"payload.event.type","propertyType":"msg","rules":[{"t":"eq","v":"doorbell_chime","vt":"str"},{"t":"eq","v":"camera_person","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":100,"wires":[["e27df6a8.58ad38"],["e27df6a8.58ad38"]]},{"id":"d669a5a2.70ebf8","type":"switch","z":"a3073265.18cb2","name":"Is Light On","property":"payload[0].state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":620,"wires":[["bbe8e8b2.3c7a58"],["6740f19a.a9b3f"]]},{"id":"9b8ab54e.625088","type":"api-call-service","z":"a3073265.18cb2","name":"Turn On Light","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.cabinet","data":"{}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"light","mergecontext":"","x":400,"y":900,"wires":[["2f8a0af3.f01d46"]]},{"id":"2f8a0af3.f01d46","type":"ha-wait-until","z":"a3073265.18cb2","name":"Wait till on","server":"6954ffe6.b584c","version":0,"outputs":2,"entityId":"light.cabinet","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"entityLocation":"","entityLocationType":"none","x":610,"y":900,"wires":[["953f4576.faa588"],["a069f2e.8b6cc1"]]},{"id":"e27df6a8.58ad38","type":"switch","z":"a3073265.18cb2","name":"Is Running","property":"running","propertyType":"flow","rules":[{"t":"false"},{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":240,"wires":[["80fbe9ff.8b3ce8"],["80fbe9ff.8b3ce8"]]},{"id":"80fbe9ff.8b3ce8","type":"change","z":"a3073265.18cb2","name":"Set running","rules":[{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["e948afde.d49af","97824373.fa92f","c1c9ff4.908b4"]]},{"id":"6740f19a.a9b3f","type":"change","z":"a3073265.18cb2","name":"Set initial state to off","rules":[{"t":"set","p":"state","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":900,"wires":[["9b8ab54e.625088"]]},{"id":"4cda9f8e.3f5a7","type":"comment","z":"a3073265.18cb2","name":"Turn on light and try again","info":"","x":390,"y":860,"wires":[]},{"id":"a069f2e.8b6cc1","type":"change","z":"a3073265.18cb2","name":"Set not running","rules":[{"t":"set","p":"running","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":900,"wires":[[]]},{"id":"49937176.e2aec","type":"switch","z":"a3073265.18cb2","name":"Was initially off?","property":"state","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":620,"wires":[["203da05bd320be41"],["a069f2e.8b6cc1"]]},{"id":"a2e67943.600e98","type":"api-call-service","z":"a3073265.18cb2","name":"Turn Off","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.cabinet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":600,"wires":[["a069f2e.8b6cc1"]]},{"id":"6015f81d.dbb588","type":"comment","z":"a3073265.18cb2","name":"Flash lights and restore color/brightness","info":"","x":850,"y":420,"wires":[]},{"id":"ae3cc4e1.4527f8","type":"comment","z":"a3073265.18cb2","name":"Turn off if it was initially off","info":"","x":1230,"y":560,"wires":[]},{"id":"2ed6dc54.676734","type":"comment","z":"a3073265.18cb2","name":"Only run if it's not running already","info":"","x":250,"y":280,"wires":[]},{"id":"c1c9ff4.908b4","type":"change","z":"a3073265.18cb2","name":"Set initial state to on","rules":[{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":620,"wires":[["953f4576.faa588"]]},{"id":"49e20613f9ba29f3","type":"trigger","z":"a3073265.18cb2","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":840,"y":460,"wires":[["915c3c9d.448b"]]},{"id":"203da05bd320be41","type":"trigger","z":"a3073265.18cb2","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1140,"y":600,"wires":[["a2e67943.600e98"]]},{"id":"18d4ae57f2cc9335","type":"api-call-service","z":"50054c0f78748ee4","name":"Notify Empty","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mobile_app_toms_iphone","entityId":"","data":"{\"title\":\"Turn off\",\"message\":\"Light and Fan\"}","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"notify","mergecontext":"","x":990,"y":140,"wires":[[]]},{"id":"016673772ec5e045","type":"api-current-state","z":"50054c0f78748ee4","name":"Empty for 30 mintes","server":"6954ffe6.b584c","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.office_motion_sensor_occupancy","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":720,"y":200,"wires":[["18d4ae57f2cc9335","7a53b0d0f6473b80","7a82dc4d60d3fb22"],["74f28e333f573a74"]]},{"id":"e6768c3e7402c426","type":"api-call-service","z":"50054c0f78748ee4","name":"Turn on light","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mobile_app_toms_iphone","entityId":"","data":"{\t  \"title\": \"Turn on light\",\t  \"message\": payload\t}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"notify","mergecontext":"","x":910,"y":600,"wires":[["9621d8e1c44ddc20"]]},{"id":"f2f9588b45cf3891","type":"trigger-state","z":"50054c0f78748ee4","name":"Dropped below 20 lux","server":"6954ffe6.b584c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.office_motion_sensor_illuminance_lux","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"20","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"20","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":460,"y":600,"wires":[["a5fe1a904f1e1c36"],[]]},{"id":"99747558f727a3f3","type":"api-call-service","z":"50054c0f78748ee4","name":"Turn off light","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mobile_app_toms_iphone","entityId":"","data":"{\t  \"title\": \"Turn off light\",\t  \"message\": payload\t}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"notify","mergecontext":"","x":910,"y":880,"wires":[[]]},{"id":"cfdbdd48a2d6e9d5","type":"trigger-state","z":"50054c0f78748ee4","name":"Raised above 35 lux","server":"6954ffe6.b584c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.office_motion_sensor_illuminance_lux","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"35","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"35","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":450,"y":880,"wires":[["70a824a1c72a1e05"],[]]},{"id":"0956a21df31da9e4","type":"server-state-changed","z":"50054c0f78748ee4","name":"Temperature Changed","server":"6954ffe6.b584c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.office_motion_sensor_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":460,"y":1040,"wires":[["921b0c38b2078fbd"]]},{"id":"9499e59b03662181","type":"function","z":"50054c0f78748ee4","name":"Calculate Fan Speed","func":"function getSpeed(temp) {\n    if(typeof temp !== \"number\" || temp < 72) {\n        return 0;\n    }\n    \n    if (temp < 76) {\n        return 1;\n    }\n    \n    if (temp < 80) {\n        return 2;\n    }\n    \n    return 3;\n}\n\nlet oldState, newState;\nif (msg.data === undefined) {\n    newState = getSpeed(Number(msg.payload));\n} else {\n    oldState = getSpeed(msg.data.old_state.state);\n    newState = getSpeed(msg.data.new_state.state);\n}\n\nreturn {\n    payload: {\n        changed: (oldState !== newState),\n        value: newState\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1000,"wires":[["3abc6bba2fcd35b7"]]},{"id":"3abc6bba2fcd35b7","type":"switch","z":"50054c0f78748ee4","name":"Speed changed?","property":"payload.changed","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1080,"wires":[["4745b115154b7eb4"]]},{"id":"4745b115154b7eb4","type":"api-call-service","z":"50054c0f78748ee4","name":"Speed Change","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"mobile_app_toms_iphone","entityId":"","data":"{\t  \"title\": \"Fan Speed Set\",\t  \"message\": \"Set to \" & (payload.value = 0 ? \"Off\" : $string(payload.value))\t}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"notify","mergecontext":"","x":960,"y":1080,"wires":[[]]},{"id":"7a53b0d0f6473b80","type":"api-call-service","z":"50054c0f78748ee4","name":"Turn off TV","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"turn_off","entityId":"media_player.office_tv","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":990,"y":200,"wires":[[]]},{"id":"ec15126c7d76fd48","type":"api-current-state","z":"50054c0f78748ee4","name":"Read Temperature","server":"6954ffe6.b584c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.office_motion_sensor_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":980,"wires":[["921b0c38b2078fbd"]]},{"id":"bf44d4f6d9b0ffe0","type":"api-current-state","z":"50054c0f78748ee4","name":"Read Lux","server":"6954ffe6.b584c","version":3,"outputs":2,"halt_if":"20","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.office_motion_sensor_illuminance_lux","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":740,"wires":[["e6768c3e7402c426"],[]]},{"id":"37d90881cd321b89","type":"cronplus","z":"50054c0f78748ee4","name":"Start work","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"start work","topic":"start work","payloadType":"date","payload":"","expressionType":"cron","expression":"0 7 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":840,"wires":[["bf44d4f6d9b0ffe0","ec15126c7d76fd48"]]},{"id":"f874f8fe2093a467","type":"cronplus","z":"50054c0f78748ee4","name":"End work","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"end work","topic":"end work","payloadType":"date","payload":"","expressionType":"cron","expression":"0 18 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":200,"wires":[["7363a37b8a0cc48f"]]},{"id":"74f28e333f573a74","type":"delay","z":"50054c0f78748ee4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":300,"wires":[["016673772ec5e045"]]},{"id":"0209a1193d6aafc0","type":"comment","z":"50054c0f78748ee4","name":"At end of day and non-business hours, turn off everything once motion stops for 30 minutes","info":"","x":330,"y":140,"wires":[]},{"id":"0e0827e14f9bd179","type":"comment","z":"50054c0f78748ee4","name":"At beginning of day, turn on fan or light if needed","info":"","x":220,"y":480,"wires":[]},{"id":"49db10fb4e5a92e2","type":"comment","z":"50054c0f78748ee4","name":"During the work day, monitor temperature and lux and turn on/off fan or light as needed","info":"","x":340,"y":520,"wires":[]},{"id":"7363a37b8a0cc48f","type":"switch","z":"50054c0f78748ee4","name":"Is Running","property":"running","propertyType":"flow","rules":[{"t":"false"},{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":200,"wires":[["233f7572e0dd026c"],["233f7572e0dd026c"]]},{"id":"233f7572e0dd026c","type":"change","z":"50054c0f78748ee4","name":"Set running","rules":[{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["016673772ec5e045"]]},{"id":"7a82dc4d60d3fb22","type":"change","z":"50054c0f78748ee4","name":"Set not running","rules":[{"t":"set","p":"running","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[[]]},{"id":"638b2004429b7f1d","type":"trigger-state","z":"50054c0f78748ee4","name":"Office motion","server":"6954ffe6.b584c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.office_motion_sensor_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":110,"y":620,"wires":[["efdc5ae98f2eea03"],[]]},{"id":"de659ee03999cc32","type":"comment","z":"50054c0f78748ee4","name":"During non-work hours, do normal motion lights","info":"","x":220,"y":560,"wires":[]},{"id":"9621d8e1c44ddc20","type":"subflow:5150d5945d6f626d","z":"50054c0f78748ee4","name":"","x":320,"y":300,"wires":[[],["7363a37b8a0cc48f"]]},{"id":"efdc5ae98f2eea03","type":"subflow:5150d5945d6f626d","z":"50054c0f78748ee4","name":"","x":230,"y":720,"wires":[[],["cafc3d6741d03763"]]},{"id":"a5fe1a904f1e1c36","type":"subflow:5150d5945d6f626d","z":"50054c0f78748ee4","name":"","x":700,"y":600,"wires":[["e6768c3e7402c426"],[]]},{"id":"921b0c38b2078fbd","type":"subflow:5150d5945d6f626d","z":"50054c0f78748ee4","name":"","x":700,"y":1000,"wires":[["9499e59b03662181"],[]]},{"id":"70a824a1c72a1e05","type":"subflow:5150d5945d6f626d","z":"50054c0f78748ee4","name":"","x":700,"y":880,"wires":[["99747558f727a3f3"],[]]},{"id":"cafc3d6741d03763","type":"switch","z":"50054c0f78748ee4","name":"Is Running","property":"running","propertyType":"flow","rules":[{"t":"false"},{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":720,"wires":[["bf44d4f6d9b0ffe0"],["bf44d4f6d9b0ffe0"]]},{"id":"c9278738b7fcec26","type":"inject","z":"50054c0f78748ee4","name":"Init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":80,"wires":[["136b6a873b8c9565"]]},{"id":"136b6a873b8c9565","type":"change","z":"50054c0f78748ee4","name":"Set not running","rules":[{"t":"set","p":"running","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[[]]},{"id":"e6fee0e318d40e54","type":"comment","z":"50054c0f78748ee4","name":"Initialize running state to false","info":"","x":140,"y":20,"wires":[]},{"id":"9226713d6312dfad","type":"server-state-changed","z":"50054c0f78748ee4","name":"Cesium Meeting","server":"6954ffe6.b584c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.tom_cesium_com","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1260,"wires":[["c843f1b2f5894851"],["5335cf7945b10754"]]},{"id":"c843f1b2f5894851","type":"api-call-service","z":"50054c0f78748ee4","name":"Alert","server":"6954ffe6.b584c","version":5,"debugenabled":false,"domain":"tts","service":"google_translate_say","areaId":[],"deviceId":[],"entityId":["media_player.office_display"],"data":"{\"message\":$$.data.new_state.attributes.message}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":470,"y":1240,"wires":[[]]},{"id":"10db0e696047431e","type":"api-call-service","z":"50054c0f78748ee4","name":"Pause","server":"6954ffe6.b584c","version":3,"debugenabled":false,"service":"media_pause","entityId":"media_player.office_tv","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":910,"y":1320,"wires":[[]]},{"id":"d6db2874d4704aa5","type":"ha-webhook","z":"50054c0f78748ee4","name":"Google Meet/Zoom Webhook","server":"6954ffe6.b584c","version":1,"outputs":1,"webhookId":"q4fryupTsZLO8QE5MIyp6ekXzohLkjmb","outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":160,"y":1360,"wires":[["5335cf7945b10754"]]},{"id":"5335cf7945b10754","type":"api-current-state","z":"50054c0f78748ee4","name":"Office TV State","server":"6954ffe6.b584c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.office_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":1320,"wires":[["7f8e6862951d15a2"]]},{"id":"7f8e6862951d15a2","type":"switch","z":"50054c0f78748ee4","name":"Is playing?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1320,"wires":[["10db0e696047431e"],[]]},{"id":"5e1ad2d63409a94d","type":"comment","z":"50054c0f78748ee4","name":"When I have a meeting notify through Google Home and pause the TV","info":"","x":290,"y":1200,"wires":[]}]