node-red/flows.json
[{"id":"7bd9273e.d66c58","type":"tab","label":"Secure House","disabled":false,"info":""},{"id":"3624fd34.85cb02","type":"tab","label":"iOS Notifications","disabled":false,"info":""},{"id":"2262bac4.80fc86","type":"tab","label":"Hue Remote","disabled":false,"info":""},{"id":"7115eb23.9f0644","type":"tab","label":"Meeting","disabled":false,"info":""},{"id":"25d012a1.14593e","type":"tab","label":"Outside Lights","disabled":false,"info":""},{"id":"72891f2a.4e292","type":"subflow","name":"Close Garage Doors","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"7a72fec7.f54fe"},{"id":"e991ac67.bd98c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ebca2dd1.3553a","type":"subflow","name":"iRobot Prompt","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"15398f75.327181"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"e996d22b.a65cc","type":"subflow","name":"Set Alarm to Away","info":"","category":"","in":[{"x":20,"y":180,"wires":[{"id":"b5158946.0dd4c8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6954ffe6.b584c","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"58a14a8e.257e84","type":"mqtt-broker","name":"Mosquitto","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd5f08df.bdadb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b4cb3ed.0f4cbc","type":"server-events","z":"7bd9273e.d66c58","name":"fili_security event","server":"6954ffe6.b584c","event_type":"fili_security","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":100,"y":460,"wires":[["c56c0a20.ed6138"]]},{"id":"9639d260.44a31","type":"switch","z":"7bd9273e.d66c58","name":"Task Processor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle_lights","vt":"str"},{"t":"eq","v":"ready_for_bed","vt":"str"},{"t":"eq","v":"bedtime","vt":"str"},{"t":"eq","v":"leave_home","vt":"str"},{"t":"eq","v":"wake_up","vt":"str"},{"t":"eq","v":"arrive_home","vt":"str"},{"t":"eq","v":"secure_exterior","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":543,"y":380,"wires":[["7ed86bbb.256174"],["40d59f5a.6512d"],["9627a949.319198","c1735019.a8c82"],["c1735019.a8c82"],["d17694d9.867b48"],["d17694d9.867b48"],["2f4899f2.c676d6"]]},{"id":"7a72fec7.f54fe","type":"api-current-state","z":"72891f2a.4e292","name":"Is left garage door open","server":"6954ffe6.b584c","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.left_garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":60,"wires":[["a030aa94.31bc38"],[]]},{"id":"a030aa94.31bc38","type":"api-call-service","z":"72891f2a.4e292","name":"Close left garage door","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.left_garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":40,"wires":[[]]},{"id":"e991ac67.bd98c","type":"api-current-state","z":"72891f2a.4e292","name":"Is right garage door open","server":"6954ffe6.b584c","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.right_garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":140,"wires":[["f5a03378.0c829"],[]]},{"id":"f5a03378.0c829","type":"api-call-service","z":"72891f2a.4e292","name":"Close right garage door","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.right_garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":120,"wires":[[]]},{"id":"2e6d76fa.ca98fa","type":"subflow:72891f2a.4e292","z":"e996d22b.a65cc","name":"","env":[],"x":503,"y":80,"wires":[]},{"id":"b5158946.0dd4c8","type":"api-call-service","z":"e996d22b.a65cc","name":"Set alarm to away","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.abode_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":193,"y":180,"wires":[["2e6d76fa.ca98fa","65fc531a.45241c","542a279e.cd30b8","8948ac47.f74fc"]]},{"id":"da07ef72.66701","type":"mqtt in","z":"2262bac4.80fc86","name":"","topic":"zigbee2mqtt/Remote/action","qos":"2","datatype":"utf8","broker":"58a14a8e.257e84","x":170,"y":280,"wires":[["9e7302f5.911ac"]]},{"id":"9e7302f5.911ac","type":"switch","z":"2262bac4.80fc86","name":"Remote actions","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(on-press|on-hold-release)","vt":"str","case":false},{"t":"regex","v":"(up-press|up-hold)","vt":"str","case":false},{"t":"regex","v":"(down-press|down-hold)","vt":"str","case":false},{"t":"regex","v":"(off-press|off-hold-release)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":444,"y":280,"wires":[["ea5775a9.653028"],["c76e7cf5.da5ee"],["95a0d9c9.601718"],["6f68072f.169a88"]]},{"id":"ea5775a9.653028","type":"api-call-service","z":"2262bac4.80fc86","name":"Turn on","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":744,"y":180,"wires":[[]]},{"id":"6f68072f.169a88","type":"api-call-service","z":"2262bac4.80fc86","name":"Turn off","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cabinet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":744,"y":380,"wires":[[]]},{"id":"c76e7cf5.da5ee","type":"api-call-service","z":"2262bac4.80fc86","name":"Increase","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"{ \"brightness_step_pct\": 10 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":744,"y":240,"wires":[[]]},{"id":"95a0d9c9.601718","type":"api-call-service","z":"2262bac4.80fc86","name":"Decrease","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet","data":"{ \"brightness_step_pct\": -10 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":744,"y":320,"wires":[[]]},{"id":"78c827c0.a3b928","type":"server-events","z":"ebca2dd1.3553a","name":"ios Action","server":"6954ffe6.b584c","event_type":"ios.notification_action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":340,"wires":[["5d7268ab.c17248"]]},{"id":"5d7268ab.c17248","type":"switch","z":"ebca2dd1.3553a","name":"iRobot Command","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"VACUUM_AND_MOP","vt":"str"},{"t":"eq","v":"VACUUM","vt":"str"},{"t":"eq","v":"VACUUM_GREAT_ROOM","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":460,"wires":[["66a0c76e.9814a8"],["324aa565.ba365a"],["9899edf1.51fc9"]]},{"id":"15398f75.327181","type":"api-call-service","z":"ebca2dd1.3553a","name":"Prompt","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{\"title\":\"Alarm Armed\",\"message\":\"What do you want to clean?\",\"data\":{\"push\":{\"category\":\"vacuum\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":60,"wires":[[]]},{"id":"95791e86.6f4e6","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":160,"wires":[["1d1b2c6.12169d4"]]},{"id":"dcfb88a8.58b7c8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum Great Room","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"send_command","entityId":"vacuum.greatroomroomba","data":"{\"command\":\"start\",\"params\":{\"pmap_id\":\"NW0eUDwfSAmv9dqz0ttnjQ\",\"user_pmapv_id\":\"201210T200858\",\"regions\":[{\"region_id\":\"9\",\"type\":\"rid\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":680,"wires":[["7ab99a8e.396eb4"]]},{"id":"6c2a1e1b.00959","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":540,"wires":[["7ab99a8e.396eb4"]]},{"id":"55beadbf.5f9164","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till vacuum is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.greatroomroomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"4","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":930,"y":600,"wires":[["a5c60175.97cba"],["aac1bb26.b1fb08"]]},{"id":"b239385e.cc1ef8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Mop","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.braava_jet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":260,"wires":[["4ca48a5f.745fe4"]]},{"id":"a5c60175.97cba","type":"api-call-service","z":"ebca2dd1.3553a","name":"Complete Message","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{ \"message\": \"Cleaning Job Complete\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":300,"wires":[["c67c5974.ce61c8"]]},{"id":"c2a9ba6b.1a70b8","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till vacuum is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.greatroomroomba","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"4","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":830,"y":160,"wires":[["b239385e.cc1ef8"],["aac1bb26.b1fb08"]]},{"id":"7721f5a4.c6d16c","type":"api-call-service","z":"ebca2dd1.3553a","name":"Error Message","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_toms_iphone","entityId":"","data":"{ \"message\": \"Cleaning Job Failed\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":540,"wires":[["f6e3200c.a8995"]]},{"id":"aac1bb26.b1fb08","type":"api-call-service","z":"ebca2dd1.3553a","name":"Vacuum return home","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.greatroomroomba","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":620,"wires":[["7721f5a4.c6d16c"]]},{"id":"dc5175ff.0fbe18","type":"ha-wait-until","z":"ebca2dd1.3553a","name":"Wait till mop is done","server":"6954ffe6.b584c","outputs":2,"entityId":"vacuum.braava_jet","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1280,"y":260,"wires":[["a5c60175.97cba"],["bba00f31.d2b09"]]},{"id":"bba00f31.d2b09","type":"api-call-service","z":"ebca2dd1.3553a","name":"Mop return home","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.braava_jet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":360,"wires":[["7721f5a4.c6d16c"]]},{"id":"65fc531a.45241c","type":"subflow:ebca2dd1.3553a","z":"e996d22b.a65cc","name":"","env":[],"x":483,"y":140,"wires":[]},{"id":"40d59f5a.6512d","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn on bedroom lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.jamis_bedside_lamp, switch.toms_bedside_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":220,"wires":[[]]},{"id":"9627a949.319198","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn off bedroom lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.jamis_bedside_lamp, switch.toms_bedside_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":300,"wires":[[]]},{"id":"542a279e.cd30b8","type":"api-call-service","z":"e996d22b.a65cc","name":"Turn off TV","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_tv_remote","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":473,"y":260,"wires":[[]]},{"id":"8948ac47.f74fc","type":"api-call-service","z":"e996d22b.a65cc","name":"Lock Mudroom","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.mud_room_lock","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":483,"y":200,"wires":[[]]},{"id":"66a0c76e.9814a8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":260,"wires":[["95791e86.6f4e6"]]},{"id":"9899edf1.51fc9","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":240,"y":680,"wires":[["dcfb88a8.58b7c8"]]},{"id":"324aa565.ba365a","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":460,"wires":[["6c2a1e1b.00959"]]},{"id":"c67c5974.ce61c8","type":"api-call-service","z":"ebca2dd1.3553a","name":"Turn off lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cabinet, light.kitchen_dimmer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":460,"wires":[[]]},{"id":"7ab99a8e.396eb4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":600,"wires":[["55beadbf.5f9164"]]},{"id":"1d1b2c6.12169d4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["c2a9ba6b.1a70b8"]]},{"id":"4ca48a5f.745fe4","type":"delay","z":"ebca2dd1.3553a","name":"Wait a minute","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":260,"wires":[["dc5175ff.0fbe18"]]},{"id":"f6e3200c.a8995","type":"delay","z":"ebca2dd1.3553a","name":"Wait 10 minutes","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":540,"wires":[["c67c5974.ce61c8"]]},{"id":"d17694d9.867b48","type":"api-call-service","z":"7bd9273e.d66c58","name":"Set alarm to standby","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.abode_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":460,"wires":[["e918ea11.7788c8","60b6d34f.e0b00c"]]},{"id":"e918ea11.7788c8","type":"api-call-service","z":"7bd9273e.d66c58","name":"Unlock Mudroom","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.mud_room_lock","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":500,"wires":[[]]},{"id":"7c227fd9.abce7","type":"ha-zone","z":"7bd9273e.d66c58","server":"6954ffe6.b584c","name":"Auto Home","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.tom_fili","person.jami_fili"],"event":"enter","zones":["zone.home"],"x":520,"y":500,"wires":[["d17694d9.867b48"]]},{"id":"60b6d34f.e0b00c","type":"time-range-switch","z":"7bd9273e.d66c58","name":"","lat":"40.2581","lon":"-75.7263","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":1130,"y":420,"wires":[["9db48865.580f68"],[]]},{"id":"9db48865.580f68","type":"api-call-service","z":"7bd9273e.d66c58","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet, light.kitchen_dimmer","data":"{ \"brightness_pct\": 50 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":420,"wires":[[]]},{"id":"3677d4d3.bb0a4c","type":"bigtimer","z":"25d012a1.14593e","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"40.2581","lon":"-75.7263","starttime":5001,"endtime":"5000","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":300,"y":260,"wires":[[],[],["3e308796.ca5c38"]]},{"id":"3e308796.ca5c38","type":"switch","z":"25d012a1.14593e","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":260,"wires":[["82787397.1d76c"],["899db591.0b1738"]]},{"id":"82787397.1d76c","type":"api-call-service","z":"25d012a1.14593e","name":"Turn on lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.porch_lights, switch.driveway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":220,"wires":[[]]},{"id":"899db591.0b1738","type":"api-call-service","z":"25d012a1.14593e","name":"Turn off lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.porch_lights, switch.driveway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":300,"wires":[[]]},{"id":"77d9401f.5c397","type":"server-state-changed","z":"7115eb23.9f0644","name":"Cesium Meeting","server":"6954ffe6.b584c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.tom_cesium_com","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":290,"y":240,"wires":[["c94bd218.f1f8","df85a048.26658"],[]]},{"id":"c94bd218.f1f8","type":"api-call-service","z":"7115eb23.9f0644","name":"Alert","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.office_display","data":"{\"message\":$$.data.new_state.attributes.message}","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":510,"y":200,"wires":[[]]},{"id":"df85a048.26658","type":"api-call-service","z":"7115eb23.9f0644","name":"Mute","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_mute","entityId":"media_player.office_tv","data":"{\"is_volume_muted\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":280,"wires":[[]]},{"id":"c226b0f6.a34c2","type":"inject","z":"7115eb23.9f0644","name":"Test Meeting","props":[{"p":"payload"},{"p":"data","v":"{\"new_state\":{\"attributes\":{\"message\":\"This is a meeting test\"}}}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":300,"y":140,"wires":[[]]},{"id":"2f4899f2.c676d6","type":"api-call-service","z":"7bd9273e.d66c58","name":"Set alarm to home","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.abode_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":540,"wires":[[]]},{"id":"45bf4987.3fc5f8","type":"server-state-changed","z":"7bd9273e.d66c58","name":"Button Click","server":"6954ffe6.b584c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor\\..+_bedroom_button_action","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"single,double,long","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":300,"wires":[["8c9dc2af.60988"],[]]},{"id":"c56c0a20.ed6138","type":"change","z":"7bd9273e.d66c58","name":"Simplify Event","rules":[{"t":"set","p":"payload.event.task","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["9639d260.44a31"]]},{"id":"8c9dc2af.60988","type":"change","z":"7bd9273e.d66c58","name":"Convert to Task","rules":[{"t":"change","p":"payload","pt":"msg","from":"single","fromt":"str","to":"toggle_lights","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"long","fromt":"str","to":"bedtime","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"double","fromt":"str","to":"wake_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["9639d260.44a31"]]},{"id":"7ed86bbb.256174","type":"api-call-service","z":"7bd9273e.d66c58","name":"Toggle bedroom lights","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.jamis_bedside_lamp, switch.toms_bedside_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":140,"wires":[[]]},{"id":"cad3b9bc.438b08","type":"server-events","z":"3624fd34.85cb02","name":"ios Action","server":"6954ffe6.b584c","event_type":"ios.notification_action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":120,"y":380,"wires":[["65dfeb32.ebc3f4"]]},{"id":"65dfeb32.ebc3f4","type":"switch","z":"3624fd34.85cb02","name":"Action","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"GARAGE_CLOSE","vt":"str"},{"t":"eq","v":"DISMISS_ALERT","vt":"str"},{"t":"eq","v":"ALARM_ARM","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":380,"wires":[["50395c84.e00bb4"],["b1a16b16.ed2558"],["2b1915a5.8f31ca"]]},{"id":"50395c84.e00bb4","type":"subflow:72891f2a.4e292","z":"3624fd34.85cb02","name":"","x":560,"y":300,"wires":[]},{"id":"c1735019.a8c82","type":"subflow:e996d22b.a65cc","z":"7bd9273e.d66c58","x":810,"y":380,"wires":[]},{"id":"2b1915a5.8f31ca","type":"subflow:e996d22b.a65cc","z":"3624fd34.85cb02","name":"","x":550,"y":460,"wires":[]},{"id":"b1a16b16.ed2558","type":"api-call-service","z":"3624fd34.85cb02","name":"Dismiss Alert","server":"6954ffe6.b584c","version":1,"debugenabled":false,"service_domain":"alert","service":"turn_off","entityId":"","data":"{ \"entity_id\": $$.payload.event.action_data.entity_id}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":380,"wires":[[]]},{"id":"495d255.fd809dc","type":"inject","z":"3624fd34.85cb02","name":"Dismiss alert","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"event\":{\"action_data\":{\"entity_id\":\"alert.mud_room_door\"}}}","payloadType":"json","x":300,"y":220,"wires":[[]]}]